<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>
	<style>
		td, th {
			white-space: nowrap;
		}

		.wrap-text {
			white-space: break-spaces;
		}

	</style>
	<title>Building Organization | Estimate List</title>
</head>

<body>
<div th:insert="base/navbar :: navbar"></div>

<div class="container-lg">
	<div class="mx-lg-5 mt-5 d-flex justify-content-between align-items-center">
		<p class="fs-2 fw-bold">List of Estimates: </p>
		<a href="/estimates/add" class="btn btn-primary d-inline-block">Add Estimate</a>
	</div>

	<div class="overflow-auto mt-5 px-lg-5">
		<table class="table table-hover">
			<thead>
			<tr>
				<th scope="col" class="text-capitalize">Action</th>
				<th scope="col" class="text-capitalize">Id</th>
				<th scope="col" class="text-capitalize">plot</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="estimate : ${estimates}">
				<th>
					<div class="d-flex flex-row">
						<a th:href="${'/estimates/show/' + estimate.id}" class="btn btn-info" style="color: white">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
								<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
								<path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
							</svg>
						</a>
						<a th:href="${'/estimates/edit/' + estimate.id}" class="btn btn-warning mx-1" style="color: white">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								 class="bi bi-pencil-fill" viewBox="0 0 16 16">
								<path
										d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
							</svg>
						</a>
						<form th:action="${'/estimates/delete/' + estimate.id}" method="post">
							<button type="submit" class="btn btn-danger mx-1" style="color: white">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									 class="bi bi-trash-fill" viewBox="0 0 16 16">
									<path
											d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
								</svg>
							</button>
						</form>
					</div>
				</th>
				<th scope="row" th:text="${estimate.id}"></th>
				<td><a th:href="${estimate.plot == null ? '#' : '/plots/show/' + estimate.plot.id}" th:text="${estimate.plot != null} ? ${estimate.plot.address} : 'Not specified'"></a></td>
			</tbody>
		</table>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>