<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>

	<title>Building Organization | Show Machinery</title>
</head>
<body>
<div th:insert="base/navbar :: navbar"></div>

<div class="d-flex justify-content-center align-items-center">

	<form class="border shadow rounded p-5 mt-5" th:object="${machinery}">
		<div class="text-center">
			<p class="fs-3 mb-5">Show Machinery:</p>
		</div>
		<div class="mb-3 row">
			<label for="id_field" class="col-sm-2 col-form-label">Id:</label>
			<input type="text" class="form-control" id="id_field" th:value="${machinery.id}" readonly>
		</div>

		<div class="mb-3 row">
			<label for="machinery_model" class="form-label">Model:</label>
			<input id="machinery_model" class="form-control" required type="text" th:field="*{model}" readonly/>
		</div>
		<div class="mb-3 row">
			<label for="machinery_number" class="form-label">Number:</label>
			<input id="machinery_number" class="form-control" required type="text" th:field="*{number}" readonly/>
		</div>
		<div class="mb-3 row">
			<label for="machinery_description" class="form-label">Description:</label>
			<input id="machinery_description" class="form-control" required type="text" th:field="*{description}" readonly/>
		</div>
		<div class="mb-3 row">
			<label for="machinery_usage" class="form-label">Usage:</label>
			<input id="machinery_usage" class="form-control" required type="text" th:field="*{usage}" readonly/>
		</div>
		<div class="mb-3 row">
			<label for="machinery_year" class="form-label">Year:</label>
			<input id="machinery_year" class="form-control" required type="number" th:field="*{year}" readonly/>
		</div>
		<div class="mb-3 row">
			<label for="storage" class="form-label">Machinery Storage:</label>
			<input id="storage" class="form-control" required type="text" th:value="${machinery.machineryStorage == null ? 'Not Specified' : machinery.machineryStorage.address}" readonly/>
		</div>
		<div class="mb-3 row">
			<label for="storage_in_usage" class="form-label">Is Failed:</label>
			<input id="storage_in_usage" class="form-control" type="text" th:value="${machinery.inUsage ? 'Yes' : 'No'}" readonly/>
		</div>
		<div class="mb-3 row">
			<label for="storage_active" class="form-label">Active:</label>
			<input id="storage_active" class="form-control" type="text" th:value="${machinery.active ? 'Yes' : 'No'}" readonly/>
		</div>
		<div class="mb-3 row">
			<label for="machinery_created_at" class="form-label">Created at:</label>
			<input id="machinery_created_at" class="form-control" type="text" th:field="*{createdAt}" th:value="${machinery.createdAt}" readonly/>
		</div>
		<div class="mb-3 row">
			<label for="machinery_modified_at" class="form-label">Modified at:</label>
			<input id="machinery_modified_at" class="form-control" type="text" th:field="*{modifiedAt}" th:value="${machinery.modifiedAt}" readonly/>
		</div>
		<div class="mb-3 row">
			<a class="btn btn-outline-secondary col" href="/machineries">Back to Machinery list</a>
		</div>
	</form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>

</body>
</html>